<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<div id="wrapper">
    


    <div id="sidebar">
        <h3>CART</h3>
        <div id="cart">
            <span class="empty">No items in cart.</span>
        </div>

        <h3>CATEGORIES</h3>
        <div class="checklist categories">
            <ul>
                <li><a href=""><span></span>New Arivals</a></li>
                <li><a href=""><span></span>Accesories</a></li>
                <li><a href=""><span></span>Bags</a></li>
                <li><a href=""><span></span>Dressed</a></li>
                <li><a href=""><span></span>Jackets</a></li>
                <li><a href=""><span></span>jewelry</a></li>
                <li><a href=""><span></span>Shoes</a></li>
                <li><a href=""><span></span>Shirts</a></li>
                <li><a href=""><span></span>Sweaters</a></li>
                <li><a href=""><span></span>T-shirts</a></li>
            </ul>
        </div>

        <h3>COLORS</h3>
        <div class="checklist colors">
            <ul>
                <li><a href=""><span></span>Beige</a></li>
                <li><a href=""><span style="background:#222"></span>Black</a></li>
                <li><a href=""><span style="background:#6e8cd5"></span>Blue</a></li>
                <li><a href=""><span style="background:#f56060"></span>Brown</a></li>
                <li><a href=""><span style="background:#44c28d"></span>Green</a></li>
            </ul>

            <ul>
                <li><a href=""><span style="background:#999"></span>Grey</a></li>
                <li><a href=""><span style="background:#f79858"></span>Orange</a></li>
                <li><a href=""><span style="background:#b27ef8"></span>Purple</a></li>
                <li><a href=""><span style="background:#f56060"></span>Red</a></li>
                <li><a href=""><span
                            style="background:#fff;border: 1px solid #e8e9eb;width:13px;height:13px;"></span>White</a>
                </li>
            </ul>
        </div>

        <h3>SIZES</h3>
        <div class="checklist sizes">
            <ul>
                <li><a href=""><span></span>XS</a></li>
                <li><a href=""><span></span>S</a></li>
                <li><a href=""><span></span>M</a></li>
            </ul>

            <ul>
                <li><a href=""><span></span>L</a></li>
                <li><a href=""><span></span>XL</a></li>
                <li><a href=""><span></span>XXL</a></li>
            </ul>
        </div>

        <h3>PRICE RANGE</h3>
        <img src="https://images.pexels.com/photos/2682452/pexels-photo-2682452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    </div>

    <div id="grid-selector">
        <div id="grid-menu">
            View:
            <ul>
                <li class="largeGrid"><a href=""></a></li>
                <li class="smallGrid"><a class="active" href=""></a></li>
            </ul>
        </div>

        Showing 1–9 of 48 results
    </div>

    <div id="grid">
      
        <div class="product">            
            <div class="make3D">
                <div class="product-front">
                    <div class="shadow"></div>
                    <img src="https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                    
                    <div class="add_to_cart">Add to cart</div>
                    <div class="stats">
                        <div class="stats-container">
                            <span class="product_price">$50.000</span>
                            <span class="product_name">MÓDULO PERSONAL</span>
                            <p>Administra tus Empleados</p>                            
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <div class="product">            
            <div class="make3D">
                <div class="product-front">
                    <div class="shadow"></div>
                    <img src="https://images.pexels.com/photos/6347707/pexels-photo-6347707.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                    
                    <div class="add_to_cart">Add to cart</div>
                    <div class="stats">
                        <div class="stats-container">
                            <span class="product_price">$30.000</span>
                            <span class="product_name">MÓDULO NÓMINA</span>
                            <p>Controla las nóminas</p>                            
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <div class="product">            
            <div class="make3D">
                <div class="product-front">
                    <div class="shadow"></div>
                    <img src="https://images.pexels.com/photos/590022/pexels-photo-590022.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                    
                    <div class="add_to_cart">Add to cart</div>
                    <div class="stats">
                        <div class="stats-container">
                            <span class="product_price">$50.000</span>
                            <span class="product_name">MÓDULO INFORMES</span>
                            <p>Administra tus Empleados</p>                            
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <div class="product">            
            <div class="make3D">
                <div class="product-front">
                    <div class="shadow"></div>
                    <img src="https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
                    
                    <div class="add_to_cart">Add to cart</div>
                    <div class="stats">
                        <div class="stats-container">
                            <span class="product_price">$50.000</span>
                            <span class="product_name">MÓDULO EVALUACIÓN</span>
                            <p>Calificaciones y Reviews</p>                            
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        


        
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="menu.js"></script>