<nav class="main-nav">
  <img src="" alt="ERP" class="logo">

  <ul class="main-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Información</a></li>
      <li><a href="/login">Plataforma</a></li>
      <li><a href="/shop">Tienda</a></li>
      <li><a href="/shop">Paquetes</a></li>
      <li><a href="#">Soporte</a></li>
  </ul>

  <ul class="right-menu">
      <li>
          <a href="#">
              <i class="fas fa-search"></i>
          </a>
      </li>
      <li>
          <a href="/login">
              <i class="fas fa-shopping-cart">Login</i>
          </a>
      </li>
  </ul>
</nav>