<div class="container">
    <h1>Informes</h1>
    <table *ngIf="module_actual">
        <img src="https://www.slideteam.net/media/catalog/product/cache/960x720/p/r/project_activity_report_with_chart_slide01.jpg" alt="chart">

    </table>
    <br>

    <div class="btn-group" role="group" aria-label="Basic example">

        <button type="button" class="btn btn-secondary">Atrás</button>
        <button type="button" class="btn btn-secondary">Siguiente</button>
    </div>
    <br>
    <br>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Agregar</button>
    </div>


</div>